@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@font-face {
  font-family: 'Grotta';
  src: url('/fonts/Grotta-Trial-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.jodit-wysiwyg {
  background-color: #dfe6e9 !important; /* Light background color */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
/* Minimal styling for react-beautiful-dnd */
[draggable] {
  user-select: none;
  touch-action: none;
}
[draggable='true'] {
  user-select: none; /* Prevents text selection during drag */
  touch-action: none; /* Prevents unwanted touch interactions */
}
.droppable {
  width: 100%;
}

.draggable {
  transition: transform 0.2s ease;
}
